<section class="content">
    <div class="content__header">
        <h2>Bienvenido a tu panel de administrador</h2>
    </div>
    <section class="table">
        <h2 class="table__title">Productos</h2>
        <table class="table__content">
            <thead class="table__content-head">
                <tr>
                    <th>Producto</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody class="table__content-body">
                <tr *ngFor="let product of products">
                    <td routerLink="/products/detailProduct/{{product.id}}" >{{ product.title }}</td>
                    <td (click)="deleteProduct(product.id)" >Eliminar</td>
                    <td routerLink="/administrator/form/{{product.id}}" >Editar</td>
                </tr>
            </tbody>
        </table>
    </section>
</section>